
@if (trip) {
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <button
          class="mb-4 px-4 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-600"
          (click)="navigateToHome()"
        >
          Back to Home
        </button>
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
          <img [src]="trip.imageUrl" alt="{{ trip.title }}" class="w-full h-64 object-cover rounded mb-4">
          <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ trip.title }}</h1>
          <p class="text-gray-600 mb-2">{{ trip.description }}</p>
          <p class="text-gray-600 mb-2">Price: <span class="font-medium">${{ trip.price }}</span></p>
          <p class="text-gray-600 mb-2">Rating: <span class="font-medium">{{ trip.rating }}</span></p>
          <p class="text-gray-600 mb-2">Number of ratings: <span class="font-medium">{{ trip.nrOfRatings }}</span></p>
          <p class="text-gray-600 mb-2">co2: <span class="font-medium">{{ trip.co2 }}</span></p>
          <p class="text-gray-600 mb-2">Tags: <span class="font-medium">{{ trip.tags.join(', ') }}</span></p>
        </div>
      </div>
} @else {
    <h3>fetching detils...</h3>
}