<div class="flex justify-center items-center gap-2 mt-4 mb-4">
    <button
      class="px-4 py-2 bg-neutral-light rounded shadow 
      disabled:opacity-50 disabled:cursor-not-allowed
      hover:bg-gray-300"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
    >
      Atrás
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      class="px-4 py-2 bg-neutral-light rounded shadow hover:bg-gray-300"
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)"
    >
      Siguiente
    </button>
  </div>
  