<div class="grid grid-cols-1 lg:grid-cols-[30%_70%] h-full">
  <!-- Left Sidebar: Welcome Component -->
  <app-welcome-user
    class="hidden lg:block bg-primary-light text-primary-dark p-6"
  ></app-welcome-user>

  <!-- Main Content Area -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
      <!-- Trip of the Day Section -->
      <div
        class="bg-secondary-light text-secondary-dark rounded-lg p-6 shadow-md flex items-center justify-center"
      >
        @if (tripOfTheDay$ | async; as tripOfTheDay) {
        <div class="text-center">
          <h1 class="text-3xl font-bold mb-4">Our Trip of the Day!</h1>
          <app-card
            [trip]="tripOfTheDay"
            (cardClick)="navigateToDetail($event)"
          ></app-card>
        </div>
        } @else {
        <div class="text-center">
          <h1 class="text-2xl font-semibold mb-4">
            Want to know the trip of the day?
          </h1>
          <button
            class="bg-primary hover:bg-primary-dark text-white py-2 px-4 rounded-md"
            (click)="getTripOfTheDay()"
          >
            Get Trip of the Day
          </button>
        </div>
        }
      </div>
      <!-- Filters Section -->
      <app-trip-filters
      ></app-trip-filters>
    </div>

      <!-- Trips Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (trip of trips$ | async; track trip) {
      <app-card
        [trip]="trip"
        (cardClick)="navigateToDetail($event)"
      ></app-card>
      }
    </div>
  </div>
</div>
